body {
    background: fuchsia;
}

div {
    border: 2px palegreen;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em auto auto;
}